*{
    /* border: 1px solid gray; */
    align-items: center;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", sans-serif;
}

.product-card{
    display: flex;
    flex-wrap: wrap;
}

h2{
    text-align: center;
}

.customNav {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.customNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    color: #0b5ed7;
}

.nav-pills .nav-link.active{
    color: white;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}   

.customNav li{
    /* #display: inline; */
    float: left;
}

/* Change the link color to #111 (black) on hover */
.customNav li a:hover {
    background-color: #111;
}

.active{
    background-color: #04AA6D;
}

.product-card{
    height: 279px;
    background: rgb(255, 255, 255);
    /* margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px; */
    margin: 30px 120px;
    padding: 20px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    border-radius: 25px;
}

.product-image{
    overflow: hidden;
    position: relative;
    float: left;
    height: 100%;
    width: 23%;
    margin: 0;
    padding:0%;
}

.product-image img{
    height: 100%;
    display:block;              /*To center an image, 2 more lines*/
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    margin: auto!important;
}

.product-definition{
    /* float: right;
    text-align: left;
    text-decoration:none;*/
    /* margin: 10px 20px 30px 40px; */
    /* width: 1023px; */
    /* padding-left: 125px; */
    text-align: center;
}

.product-name h3{
    font-size: 18pt;
    /* font-weight: bold; */
    text-decoration: none;
    outline: none;
    /* width: 58.33%; */
    /* margin-left: 25%; */
    padding-bottom: 10px;
}

.product-details{
    align-items: center;
    text-align: center;
}

.product-details ul li{
    float: none;
    background-color: white;
}

.product-details img{
    width: 25px;
}

.product-details i{
    font-size: 25px;
}

.product-details p{
    font-size: 15px;
    margin-bottom: 0px;
}

.product-price p{
    /* margin-top:12px; */
    font-size: 20pt;
    font-weight: bold;
    padding-top: 15px;
}

.customNav a:link {
    text-decoration: none!important;
  }

.Cat {
    margin: 20px;
}

.Cat ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.favourites{
    text-align: center;
}

.favourites p{
    margin-bottom: auto;
}

.favourites i{
    font-size: 70px;
    color: rgb(255, 90, 90);
}

.favourites .fav_text{
    font-size: 20px;
}
